{% extends 'Student/common_pa.html' %}
{% load static %}
{% for m in messages %}
<script>
    alert("{{m}}")
</script>
{% endfor %}
{% block content %}
	
	<section class="hero-wrap" style="background-image: url('../static/images/bg_2.jpg');height: 350px;">
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate pb-5 text-center">
					<!-- <p class="breadcrumbs"><span class="mr-2"><a href="/parenthome">Home <i class="fa fa-chevron-right"></i></a></span> <span>Book Tutor<i class="fa fa-chevron-right"></i></span></p>
					<h1 class="mb-0 bread">Book Tutor</h1> -->
				</div>
			</div>
		</div>
	</section>
	
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Book Tutor</h3>
									<form method="POST" enctype="multipart/form-data" id="contactForm" class="contactForm">
										{% csrf_token %}
										<div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="booking_type">Mode:</label>
                                                    <select name="booking" required>
                                                        <option value="online">Online</option>
                                                        <option value="offline">Offline</option>
                                                    </select><br>
											</div>
                                            </div>
											<div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="time">Time:</label>
                                                    <select name="time" required>
                                                        <option value="9-11">9-11</option>
                                                        <option value="11-1">11-1</option>
                                                        <option value="2-4">2-4</option>
                                                        <option value="4-6">4-6</option>
                                                    </select><br>
											</div>
                                            </div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Submit" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}


	